@font-face
  font-family: 'music-icon'
  src: url('../fonts/music-icon.eot?2qevqt')
  src: url('../fonts/music-icon.eot?2qevqt#iefix') format('embedded-opentype'),
          url('../fonts/music-icon.ttf?2qevqt') format('truetype'),
          url('../fonts/music-icon.woff?2qevqt') format('woff'),
          url('../fonts/music-icon.svg?2qevqt#music-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'music-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-ok:before
  content: "\e900"

.icon-close:before
  content: "\e901"

.icon-add:before
  content: "\e902"

.icon-play-mini:before
  content: "\e903"

.icon-playlist:before
  content: "\e904"

.icon-music:before
  content: "\e905"

.icon-search:before
  content: "\e906"

.icon-clear:before
  content: "\e907"

.icon-delete:before
  content: "\e908"

.icon-favorite:before
  content: "\e909"

.icon-not-favorite:before
  content: "\e90a"

.icon-pause:before
  content: ''
  background-image: url(../../assets/images/icon-pause.png)
  height: 0.9rem
  width: 0.9rem
  background-size: 99%
  display: block
  margin: 0 auto
  background-repeat no-repeat
.icon-play:before
  content: ''
  background-image: url(../../assets/images/icon-play.png)
  height: 0.9rem
  width: 0.9rem
  background-size: 99%
  display: block
  margin: 0 auto
  background-repeat no-repeat
.icon-prev:before
  content: ''
  background-image: url(../../assets/images/icon-prev.png)
  height: 0.8rem
  width: 0.8rem
  background-size: 99%
  display: block
  float: right
  background-repeat no-repeat
.icon-loop:before
  content: ''
  background-image: url(../../assets/images/icon-loop.png)
  height: 0.48rem
  width: 0.60rem
  background-size: 100%
  display: block
  float: right
  background-repeat no-repeat

.icon-sequence:before
  content: ''
  background-image: url(../../assets/images/icon-sequence.png)
  height: 0.48rem
  width: 0.60rem
  background-size: 100%
  display: block
  float: right
  background-repeat no-repeat
.icon-list:before
  content: ''
  background-image: url(../../assets/images/icon-list.png)
  height: 0.34rem
  width: 0.46rem
  background-size: 99%
  display: block
  float: right
  background-repeat no-repeat
.icon-random:before
  content: "\e910"

.icon-back:before
  content: "\e911"

.icon-mine:before

.icon-next:before
  content: ''
  background-image: url(../../assets/images/icon-next.png)
  height: 0.8rem
  width: 0.8rem
  background-size: 99%
  display: block
  float: left
  background-repeat no-repeat
.icon-dismiss:before
  content: "\e914"

.icon-pause-mini:before
  content: "\e915"
